* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
    font-size: 1.3rem;
}

/* HERO SECTION - Titlu și paragraf */
.hero {
    display: flex;
       /* Toate textele pe stânga */
}



/* AI Category + Error */
.ai-category,
.error-message {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: left;           /* Mesajele pe stânga */
}